<nav class="nav">
    <h1><a routerLink="/">E-Commerce</a></h1>
    <div *ngIf="menuType === 'default'" class="nav-search">
        <input #searchInput type="text" (blur)="hideSearch()" (keyup)="searchProduct($event)" placeholder="Search for Products">
        <button (click)="submitSearch(searchInput.value)">Search</button>
        <ul class="suggested-result" *ngIf="searchResult">
            <li *ngFor="let item of searchResult">
                <a (mousedown)="redirectToDetails(item.id)">{{ item.name }}</a>
            </li>
        </ul>
    </div>
        <ul *ngIf="menuType === 'default'">
            <li><a  routerLink="/">Home</a></li>
            <li><a routerLink="/seller-auth">Seller</a></li>
            <li><a routerLink="/user-auth">Login/Signup</a></li>
            <li><a href="#">Cart(0)</a></li>
        </ul>

        <ul *ngIf="menuType === 'user'">
            <li><a routerLink="/seller-auth">Seller</a></li>
            <li><a  routerLink="/">Home</a></li>
            <li><a routerLink="/user-auth">{{userName | titlecase}}</a></li>
            <li><a routerLink="/user-auth">Login/Signup</a></li>
            <li><a href="#" (click)="userLogout()">Logout</a></li>
            <li><a routerLink="cart-page">Cart({{cartItems}})</a></li>
        </ul>

        <ul *ngIf="menuType === 'seller'">
            <li><a  routerLink="/">Product List</a></li>
            <li><a routerLink="/seller-add-product">Add Product</a></li>
            <li><a href="#" (click)="logout()">Logout</a></li>
            <li><a href="#">{{ sellerName | titlecase }}</a></li>
        </ul>
    
   
    </nav>
